@inject ShoeConfigService ShoeConfigService
@inject SizeRepository SizeRepository
@using LinqKit

<MudExpansionPanels MultiExpansion="true" Elevation="0" DisableBorders="true">
    <MudExpansionPanel @bind-IsExpanded="@_isPriceRangesOpen">
        <TitleContent>
            <strong>Khoảng giá</strong>
        </TitleContent>
        <ChildContent>
            <MudRadioGroup T="string" SelectedOption="@_priceRangeSelected" SelectedOptionChanged="@((e) => HandleChecked(true,e,"price"))">
                @foreach (var item in _priceRanges)
                {
                    <MudRadio Color="Color.Primary" Option="@(item)">@item</MudRadio>
                }
            </MudRadioGroup>
        </ChildContent>
    </MudExpansionPanel>
    <MudExpansionPanel @bind-IsExpanded="@_isTrademarksOpen">
        <TitleContent>
            <strong>Thương hiệu</strong>
        </TitleContent>
        <ChildContent>
            @foreach (var item in _trademarks)
            {
                <div class="d-flex"><MudCheckBox T="bool" CheckedChanged="@((e) => HandleChecked(e , item, "trademark"))" Label="@item" Color="Color.Primary"></MudCheckBox></div>
            }
        </ChildContent>
    </MudExpansionPanel>
    <MudExpansionPanel @bind-IsExpanded="@_isSizeNamesOpen">
        <TitleContent>
            <strong>Sizes</strong>
        </TitleContent>
        <ChildContent>
            @foreach (var item in _sizeNames)
            {
                <div class="d-flex"><MudCheckBox T="bool" CheckedChanged="@((e) => HandleChecked(e , item, "size"))" Label="@item" Color="Color.Primary"></MudCheckBox></div>
            }
        </ChildContent>
    </MudExpansionPanel>
</MudExpansionPanels>

@code {

    //[Parameter] public Func<Shoe, bool> Filter { get; set; }
    //[Parameter] public EventCallback<Func<Shoe, bool>> FilterChanged { get; set; }
    [Parameter] public EventCallback<List<ExpressionStarter<Shoe>>> FilterChanged { get; set; }

    List<string> _priceRanges = new();
    List<string> _trademarks = new();
    List<string> _sizeNames = new();
    List<string> _listTrademarksChecked = new();
    List<string> _listSizesChecked = new();
    List<ExpressionStarter<Shoe>> _listConditions = new();

    string _priceRangeSelected;

    bool _isPriceRangesOpen = true;
    bool _isTrademarksOpen = true;
    bool _isSizeNamesOpen = true;

    protected override async Task OnInitializedAsync()
    {
        var sizes = await SizeRepository.GetAllAsync();
        _sizeNames = sizes.Select(x => x.SizeName).ToList();
        _trademarks = ShoeConfigService.GetAll().Trademarks;
        _priceRanges = ShoeConfigService.GetAll().PriceRanges;
    }


    async Task HandleChecked(bool value, string item = null, string label = null)
    {
        _listConditions = new();

        if (label != "price")
        {
            if (value)
            {
                if (label == "trademark")
                {
                    if (!_listTrademarksChecked.Any(x => x == item))
                        _listTrademarksChecked.Add(item);
                }
                else
                {
                    if (!_listSizesChecked.Any(x => x == item))
                        _listSizesChecked.Add(item);
                }
            }
            else
            {
                if (label == "trademark")
                {
                    _listTrademarksChecked.RemoveAll(x => x == item);
                }
                else
                {
                    _listSizesChecked.RemoveAll(x => x == item);
                }
            }
        }
        else
        {
            _priceRangeSelected = item;
        }

        if (!_listTrademarksChecked.Any() && !_listSizesChecked.Any() && string.IsNullOrEmpty(_priceRangeSelected))
        {
            _listConditions.Add(PredicateBuilder.New<Shoe>(x => true));
        }
        else
        {
            if (_listTrademarksChecked.Any())
            {
                _listConditions.Add(PredicateBuilder.New<Shoe>(x => TrademarkChecked(x)));
            }

            if (_listSizesChecked.Any())
            {
                _listConditions.Add(PredicateBuilder.New<Shoe>(x => SizeChecked(x)));
            }

            if (!string.IsNullOrEmpty(_priceRangeSelected))
            {
                _listConditions.Add(PredicateBuilder.New<Shoe>(x => PriceChecked(x)));
            }
        }

        await FilterChanged.InvokeAsync(_listConditions);
    }

    bool SizeChecked(Shoe shoe)
    {
        return _listSizesChecked.All(s => shoe.ShoeSizesNavigation.Any(c => c.SizeNavigation.SizeName == s));
    }

    bool TrademarkChecked(Shoe shoe)
    {
        return _listTrademarksChecked.Any(c => c == shoe.Trademark);
    }

    bool PriceChecked(Shoe shoe)
    {
        var priceClean = _priceRangeSelected.Replace(",", "").Replace("đ", "").Replace(",", "");

        if (priceClean.Contains("-"))
        {
            var list = priceClean.Split("-");
            return shoe.Price >= double.Parse(list[0].Trim()) && shoe.Price < double.Parse(list[1].Trim());
        }

        if (priceClean.Contains("Trên"))
        {
            priceClean = priceClean.Replace("Trên", "").Trim();
            return shoe.Price > double.Parse(priceClean.Trim());
        }

        if (priceClean.Contains("Dưới"))
        {
            priceClean = priceClean.Replace("Dưới", "").Trim();
            return shoe.Price < double.Parse(priceClean.Trim());
        }

        return true;
    }

}
