@page "/nguoidung/donhang/{OrderId:int}"

@inject OrderRepository OrderRepository
@inject NavigationManager NavigationManager

<MudCard Class="overflow-hidden" Elevation="25">
    <MudGrid>
        <MudItem xs="12">
            <MudTimeline TimelineOrientation="TimelineOrientation.Horizontal"
                         TimelinePosition="TimelinePosition.Top">

                <MudTimelineItem Color="Color.Success" 
                                 Size="MudBlazor.Size.Large">
                    <ItemDot>
                        <MudIcon Size="MudBlazor.Size.Large" Icon="@Icons.Filled.ShoppingBag" />
                    </ItemDot>
                    <ItemContent>
                        <MudText Align="Align.Center">Đã đăt hàng</MudText>
                    </ItemContent>
                </MudTimelineItem>

                <MudTimelineItem Color="@((_order.State == "Đang xử lý" 
                                          || _order.State == "Đang giao" 
                                          || _order.State == "Đã giao thành công")? Color.Success: Color.Default)" Size="MudBlazor.Size.Large">
                    <ItemDot>
                        <MudIcon Icon="fas fa-spinner" />
                    </ItemDot>
                    <ItemContent>
                        <MudText Align="Align.Center">Đang xử lý</MudText>
                    </ItemContent>
                </MudTimelineItem>
                <MudTimelineItem Color="@((_order.State == "Đang giao" 
                                          || _order.State == "Đã giao thành công")? Color.Success: Color.Default)"
                                 Size="MudBlazor.Size.Large">
                    <ItemDot>
                        <MudIcon Size="MudBlazor.Size.Large" Icon="fas fa-shuttle-van" Style="font-size:1.5rem;text-align:center;" />
                    </ItemDot>
                    <ItemContent>
                        <MudText Align="Align.Center">Đang giao</MudText>
                    </ItemContent>
                </MudTimelineItem>
                <MudTimelineItem Color="@((_order.State == "Đã giao thành công")? Color.Success: Color.Default)"
                                 Size="MudBlazor.Size.Large">
                    <ItemDot>
                        <MudIcon Size="MudBlazor.Size.Large" Icon="@Icons.Filled.Check" />
                    </ItemDot>
                    <ItemContent>
                        <MudText Align="Align.Center">Đã giao thành công</MudText>
                    </ItemContent>
                </MudTimelineItem>
            </MudTimeline>
        </MudItem>
        <MudItem xs="12">
            <div style="width: 200px; margin-right:auto" class="mt-5 mx-3">
                <MudButton FullWidth="true" Variant="Variant.Outlined"
                           DisableElevation="true" Color="Color.Primary"
                           StartIcon="@Icons.Filled.ArrowBack"
                           Style="white-space:nowrap;" OnClick="@(() => NavigationManager.NavigateTo("/nguoidung/donhang"))">
                    Danh sách đơn hàng
                </MudButton>
            </div>
        </MudItem>
        <MudItem xs="12">
            <MudGrid Class="mt-5 pb-3" Style="border-top: 3px solid #dbdbdb">
                <MudItem xs="4" Class="px-3">
                    <div style="width:90%; height:100%; border-right:3px solid #dbdbdb"
                         class="d-flex justify-content-center">
                        Đơn vị giao hàng Express
                    </div>
                </MudItem>
                <MudItem xs="8">
                    @if (_order.OrderProgressesNavigation.Count > 0)
                    {
                        <MudTimeline TimelinePosition="TimelinePosition.Left">
                            @foreach (var item in _order.OrderProgressesNavigation.OrderByDescending(x => x.DateCreated).ToList())
                            {
                                <MudTimelineItem Color="@(item.DateCreated == _maxDateCreated ? Color.Primary : Color.Default)">
                                    <MudText Color="@(item.DateCreated == _maxDateCreated ? Color.Primary : Color.Default)">@item.DateCreated @item.Content</MudText>
                                </MudTimelineItem>
                            }
                        </MudTimeline>
                    }
                    else
                    {
                        <div class="d-flex justify-content-center align-items-center font-weight-bold" style="font-size:1.5rem">
                            Chưa cập nhật tiến độ
                        </div>
                    }
                </MudItem>
            </MudGrid>
        </MudItem>
    </MudGrid>
</MudCard>

@code {
    [Parameter] public int OrderId { get; set; }

    List<string> _listPorgress = new() { "Đã đặt hàng","Đăng xử lý","Đăng giao","Đơn hàng đã giao"};

    Order _order = new();
    DateTime _maxDateCreated => _order.OrderProgressesNavigation.Max(x => x.DateCreated);

    protected override void OnInitialized()
    {
        _order = OrderRepository.GetById(OrderId);
        base.OnInitialized();
    }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
    }
}
