
<div style="width:300px; border-bottom:3px solid #333;" class="d-flex align-items-center justify-content-center m-auto mb-5">
    <h2 style="white-space:nowrap">@Title</h2>
</div>
<MudGrid>
    <ProductItem Shoe="@new()" />
    <ProductItem Shoe="@new()" />
    <ProductItem Shoe="@new()" />
    <ProductItem Shoe="@new()" />
</MudGrid>

@code {
    [Parameter] public string Title { get; set; }
}
